.big-title{color: #FFFFFF;font-size: 3rem;}
.normal-text{color: #FFFFFF;font-size: 1.2rem;}
/*main { background: url(../public/assets/img/main-bg.png); height: 100vh; background-position: right center, center; background-size:  cover; background-repeat: no-repeat; }*/
section.landing-container.explorer { overflow: auto; }
section.landing-container .row { height: 100%; display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; }
section.landing-container .row .home { text-align: left; }
section.landing-container .row .imghome { text-align: center; }

.parent-button-container {  }
.home-button-container { display: flex; gap: 0.6rem; flex-wrap: wrap; width: 80%; justify-content: flex-start; }

.GreenButton {border: none; color: #FFFFFF; background-color: #67B273;; border-radius: 100px; padding: 0.5rem 0.9rem; }
.WhiteButton {border: none; color: #222222; background-color: #FFFFFF;; border-radius: 100px; padding: 0.5rem 0.9rem;}
.landingimg{width: 100%;max-width: 400px;height: auto;;border-radius: 200px;}

section.landing-container { padding: 8rem 0; }
section.landing-container h2 { font-size: var(--ts-title); font-weight: 700; color: white; text-align: center; margin: 0 0 5rem 0; }
section.landing-container h3 { color: var(--lightblue); text-transform: uppercase; font-weight: 700; font-size: 1.7rem; text-align: center; margin: 1.3rem 0; }




/***Large (lg)***/
@media (max-width: 1199.98px) {
    
}

/***Medium (md)***/
@media (max-width: 991.98px) {
    .home { width: 70%; }
    section.landing-container .row {gap:2rem}
    section.landing-container .row .home { text-align: left; width: 70%; }
    section.landing-container { height: 100vh; background-position: center; background-size: cover; background-repeat: no-repeat; }
    section.landing-container .row .home { text-align: center; width: 100%; }
    .parent-button-container { margin: auto; }
    .home-button-container { display: flex; gap: 0.6rem; flex-wrap: wrap; width: 80%; justify-content: center; margin: auto; }
    
}

/***Small (sm)***/
@media (max-width: 767.98px) {
    .home-button-container { width: 100%; }
    .parent-button-container{ width: 60%; }
    
}

/***Extra small (xs)***/
@media (max-width: 575.98px) {
    
}